<div id="edit_profile">
  <div class="row">
    <h2 class="small-8 columns text">Edit <%= current_user.user_name %> profile</h2>
    <div class="small-4 columns" id="picture-stats">
      <%= image_tag current_user.picture, id: "user-picture" %>
      <p id="profile-stats" class="text">Radios: <%= current_user.radios.length %> | Songs: <%= current_user.songs.length %> | Friend: <%= current_user.friends.length %></p>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :user_name, class: "text" %><br />
      <%= f.text_field :user_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, class: "text" %><br />
      <%= f.email_field :email %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "text" %> <i class="text">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "text" %> <i class="text">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.file_field :picture %>
    </div>

    <div class="actions">
      <%= f.submit "Update", id: "submit-button" %>
    </div>
  <% end %>

  <h3 class="text">Cancel my account</h3>

  <p class="text">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
