<!DOCTYPE html>
<html>
<head>
  <title>Jamradio</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Jamradio</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= image_tag current_user.picture, id: "profile-picture" %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

<!-- player -->
  <div class="row" id="player">
    <h3 id="soundcloud-credit" class="app-name">JamRadio
      <p class="app-name">(Powered by <a href="http://www.soundcloud.com">SoundCloud)</a></p>
    </h3>
      <p class="radio-timer" id="radio-playing">Radio</p>

    <div id="song-title-container">
      <p id="song-title">Un Titulo</p>
      <p id="timer-p">00:00</p>
    </div>
    <div id="progress-bar-container">
      <div id="progess-bar"></div>
    </div>

    <div id="player-controllers">
      <div class="btn" id="play-pause">
        <%= image_tag "play.png", id: "play-pause-btn" %>
      </div>
      <div class="btn" id='next-song'>
        <%= image_tag "fastForward.png", id: "next-btn" %>
      </div>
    </div>

    <div id="switch-play-lists">
      <div id="radios-switch" class="switch">
        <%= link_to "Radios", '#', url: "/radios" %>
      </div>
      <div id="songs-switch" class="switch">
        <%= link_to "My Songs", '#', url: "/songs" %>
      </div>
    </div>

    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//connect.soundcloud.com/sdk.js' %>
  <%= yield :extra_footer %>
</body>
</html>
