<!DOCTYPE html>
<html>
<head>
  <title>JamRadio</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="top-bar">
    <div class="small-12 medium-2 columns" id="app-name">
      <h1><%= link_to "JamRadio", root_path, id: "app-title", class: "special-font" %></h1>
    </div>
    <div class="small-12 medium-4 columns">
      <div id="switch-play-lists" class="special-font row">
        <div id="radios-switch" class="switch switch-pressed small-4 columns">
          <%= link_to "Radios", "#", url: "/radios" %>
        </div>
        <div id="songs-switch" class="switch small-4 columns">
          <%= link_to "My Music", "#", url: "/songs" %>
        </div>
        <div id="jams-switch" class="switch small-4 columns">
          <%= link_to "Jams", "#", url: "/jams" %>
        </div>
      </div>
    </div>

<!--     <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
 -->
    <div class="small-12 medium-3 columns" id="user-menu">
      <%- if current_user -%>
        <div id="user-name" class="special-font small-12 medium-3 columns" >
          <%= link_to current_user.user_name, '#', "data-dropdown" => "drop1", "aria-controls" => "drop1", "aria-expanded" => "false" %>
        </div>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li class="drop1-element"><%= link_to 'My profile', edit_user_registration_path, class: "drop1-link" %></li>
          <li class="drop1-element"><%= link_to 'Sign Out', destroy_user_session_path, class: "drop1-link", method: :delete %></li>
        </ul>
        <div class="small-12 medium-2 columns" id="picture-container">
          <%= image_tag current_user.picture, id: "profile-picture" %>
        </div>
      <%- else -%>
        <div class="small-12 medium-1 columns">
          <%= link_to 'Sign Up', new_user_registration_path %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= link_to 'Sign In', new_user_session_path %>
        </div>
      <%- end -%>
    </div>
  </div>

  <%= yield %>

  <div id="song-title-container">
    <p id="song-title"></p>
  </div>
  <div id="footer-player">
    <div id="player-controllers" class="row">
      <div class="btn small-1 column" id="like-song">
        <%= image_tag "heart.png", id: "like-btn" %>
      </div>
      <div class="btn small-1 column" id="play-pause">
        <%= image_tag "playbutton.png", class: "play-pause-btn" %>
      </div>
      <div class="btn small-1 column" id="next-song">
        <%= image_tag "fast-forward.png", id: "next-btn" %>
      </div>
      <div class="btn small-1 column" id="clock-container">
        <p id="timer-p">00:00</p>
      </div>
    </div>
    <div id="progress-bar-container">
      <div id="progress-bar"></div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//connect.soundcloud.com/sdk.js' %>
  <%= yield :extra_footer %>
</body>
</html>
